@font-face{
  font-family: "Poppins";
  src:url("../public/Font/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.938) 0%,
    rgba(0, 0, 0, 0.863) 100%
  );
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
