.divGeneral {
    display: flex;
    /* justify-content: center; */
}

/* .divItems {
    width: 80%;
    font-size: 1.875rem;
    color: white;
}

.divItems2 {
    display: flex;
    justify-content: center;
    font-size: 1.56rem;
}  */

.imgDetail{
    height: 100%;
    width: 60%;
    object-fit:fill; 
    border-radius: 20px;
} 

/* .divPlat{
    display: flex;
}

.divPlat h2{
    display: flex;
} */



/* @media only screen and (max-width:375px){
    .title{
        font-size: 25px;
    }

    .imgDetail{

    }
} */


