.detail-container {
    /* display: flex; */
    /* justify-content: center; */
    color: white;
}

.detail-container__title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
    height: 100px;
    font-size: 30px;
}

.detail-container__title .title {
    display: flex;
    justify-content: center;
}

.detail-container__title .button {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 0 0 0 0;
    color: black;
    position: absolute;
    left: 100px;
}

.detail-container__informacion {
    display: block;
    width: 80%;
    margin: 40px 10% 0 10%;
}

.detail-container__informacion .img {
    height: 600px;
    width: 1000px;
    object-fit: cover;
    border-radius: 100px;
}

.detail-container__platform{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    gap: 20px;
}

.platforms{
    display: grid;
    place-items: center;

}

.detail-container__platform{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    gap: 20px;
    margin-top: 20px;
}

.platforms{
    display: grid;
    place-items: center;
}

.detail-container__genres{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    gap: 20px;
    margin-top: 20px;
}

.genres{
    display: grid;
    place-items: center;
}

.detail-container__rating{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    gap: 20px;
    margin-top: 20px;
}

.nameDescription{
    font-size: 30px;
}

.detail-container__description{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.detailLoader{
    background-image: url("../../../img/3yDz.gif");
}


/* .divItems {
    width: 80%;
    font-size: 1.875rem;
    color: white;
}

.divItems2 {
    display: flex;
    justify-content: center;
    font-size: 1.56rem;
}  */

/* .divPlat{
    display: flex;
}

.divPlat h2{
    display: flex;
} */



/* @media only screen and (max-width:375px){
    .title{
        font-size: 25px;
    }

    .imgDetail{

    }
} */