.SearchBar-container{
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.SearchBar-container .allGames{
    position: absolute;
    right: 225px;
    text-align: center;
    padding: 1em;
    border-radius: 15px;
    background-color: #ccc;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.button{
    text-align: center;
    padding: 1em;
    border-radius: 15px;
    background-color: #ccc;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.create{
    position: absolute;
    right: 140px;
    text-align: center;
    padding: 1em;
    border-radius: 15px;
    background-color: #ccc;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.input {
    width: 20%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff15;
  }

/* button {
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    color: white;
    padding: 1em 2em;
    cursor: pointer;
   } */