.card-list {
    width: 100vw; /* le decimos que el contenedor tiene que ocupar el 85% del viewport width(ancho de ventana) */
    /* margin: 0 auto; le estamos dando un margen de 0 arr/aba y auto para los lados */
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    /* display: grid; display grid lo utilizamos al igual que el flex para acomodar con mayor facilidad los elementos */
    /* grid-template-columns: repeat(5, 1fr); y utilizamos esta propiedad de grid para automaticamente decirle en cuantos elementos queremos que nos los acomode en este caso 4 que ocupen 1fraccion */
    grid-gap: 30px; /* gap lo utilizamos para dar espacio entre los elementos */
  }
  

@media only screen and (min-width:1870) {
    .card-list{
      grid-template-columns: repeat(4, 1fr);
    }
}