.card-list {
  width: 100%;
  height: 100%;
  min-width: 100%;
  overflow-y: scroll;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  grid-gap: 30px;
  padding-bottom: 200px;
}

.cardsLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 100%;
}

.card-list::-webkit-scrollbar{
  width: 7px;
}

.card-list::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: bisque;
}



@media only screen and (min-width:1870) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}