/* .search {
    outline: none;
    border-radius: 5px;
    border: 1px solid;
    padding: 2px;
    width: 150px;
    margin-bottom: 30px;
  }
  
  .contenedor-search {
    display: flex;
    justify-content: center;
  }
  
  .button {
    width: 60px;
    margin: auto;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  } */

  button {
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    color: white;
    padding: 1em 2em;
    cursor: pointer;
   }